* {margin: 0;padding: 0;}
ul,li {list-style: none;}
a {text-decoration: none;color: black;}
img {display: block;}

header {width: 100%;}
/************************* inner *************************/
.inner {
  width: 1070px;
  margin: 0 auto;
}
.gnb {
  overflow: hidden;
}
.gnb ul {
  float: right;
}
.gnb li {
  display: inline-block;
  padding: 8px;
  font-size: 12px;
}
.gnb li a {
  color: #555;
  font-weight: bold;
}


.logo {
  height: 80px;
}
.logo .car {
  width: 300px;
  margin-right: 150px;
  margin-top: 10px;
  float: left;
  overflow: hidden;
}
.logo .car .carImg {
  width: 75px;
  height: 55px;
  float: left;
  animation: bus 3s infinite reverse;
}
@keyframes bus {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0);
  }
}
.logo .car p {
  font-size: 14px;
  font-weight: bold;
}
.logo .car p:nth-of-type(1) {
  margin-top: 10px;
  color: green;
}
.logo .logoImg {
  width: 180px;
  height: 60px;
  float: left;
  margin-top: 10px;
}
.logo .search {
  width: 240px;
  height: 22px;
  float: right;
  margin-top: 25px;
  border: 1px solid #ccc;
}
.logo .search input {
  width: 205px;
  height: 15px;
  border: none;
  margin-left: 10px;
}
.logo .search input::placeholder {
  font-size: 10px;
  font-weight: bold;
  color: #ccc;
}
.logo .search i {
  font-weight: bold;
  color: #ccc;
}

/************************* headerBottom *************************/
.headerBottom {
  width: 100%;
  height: 37px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid  #ccc;
}
.lnb {
  width: 1070px;
  margin: 0 auto;
  /* overflow: hidden; */
}
.cateGori {
  float: left;
  padding: 8px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  margin-right: 95px;
}
.cateGori label {
  color: rgb(64, 174, 218);
  font-size: 14px;
  font-weight: bold;
}
.cateGori label i {
  margin-right: 7px;
}
.cateGori .cateBox {
  width: 1070px;
  height: 0px;
  position: absolute;
  top: 38px;
  left: 0;
  background: white;
  overflow: hidden;
  transition: all 0.3s;
}
#check01 {display: none;}
#check01:checked ~ .cateBox {height: 250px;}
.cateGori .cateBox {
  text-align: center;
}
.cateGori .cateBox li {
  padding: 8px 0;
  font-size: 14px;
}
.cateGori .cateBox li:hover {
  color: red;
}

.menu {
  float: left;
  font-size: 14px;
}
.menu li {
  float: left;
  padding: 8px 25px;
  font-weight: bold;
}
.life {
  float: right;
  font-size: 12px;
  margin-top: 5px;
 
}
.life li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  color: #555;
  position: relative;
}
.life li::after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background: #ccc;  
  position: absolute;
  top: 9px;
  left: -2px;
}
.life li:nth-child(1)::after {
  display: none;
}

/************************* mainVisual *************************/
.mainVisual {width: 100%; margin-bottom: 40px;}
.mainSlide {
  width: 100%;
  height: 370px;
}
.mainSlide img {
  width: 100%;
  height: 370px;
}
/************************* product *************************/
.product {width: 100%; margin-bottom: 40px;}
.product .proBox {
  width: 1070px;
  margin: 0 auto;
}
.product .proBox h3 {
  text-align: center;
  margin-bottom: 20px;
}
.product .proTop {
  overflow: hidden;
  margin-bottom: 10px;
}
.product .proBottom {
  overflow: hidden;
}
.product .pro {
  width: 260px;
  height: 360px;
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.product .pro .proImg {
  overflow: hidden;
}
.product .pro img {
  transition: all 0.2s;
}
.product .pro img:hover {
  transform: scale(1.1);
}
.product .pro:last-child {
  margin: 0;
}
.product .txtBox {
  width: 250px;
  height: 100px;
  margin: 20px 0 15px 10px;
}
.product .proTop .txtBox .assistant {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}
.product .txtBox .mainTxt {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.product .txtBox .price del {
  color: #ccc;
  font-size: 10px;
}
.product .txtBox .price {
  color: rgb(64, 174, 218);
  font-weight: bold;
  margin-top: 5px;
}
.product .proTop .txtBox .price span {
  font-size: 12px;
}

/************************* banner *************************/
.banner{width: 100%; margin-bottom: 40px;}
.banner .ban01 {
  width: 1900px;
  height: 200px;
  margin: 0 auto;
}

/************************* new *************************/
.new {width: 100%; margin-bottom: 50px;}
.new .newBox {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.new .newBox h3 {
  text-align: center;
  margin-bottom: 20px;
}
.new .newBox .newp {
  float: left;
  position: relative;
}
.new .newBox .newImg {
  width: 345px;
  height: 345px;
}
.new .newBox .new02 {
  margin: 0 17.5px;
}
.new .newBox .txtBox {
  width: 345px;
  height: 0;
  font-size: 30px;
  text-align: center;
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s, color 0.3s 0.3s; 
}
.new .newBox .txtBox .line {
  width: 305px;
  height: 3px;
  margin: 10px auto;
  background: rgba(0,0,0,0);
  transition: all 0.3s 0.4s;

}
.new .newBox .txtBox del {
  font-size: 17px;
  color: white;
  
}
.new .newBox .txtBox p:first-child {
  margin-top: 140px;
}
.new .newBox .new01:hover .txtBox {
  height: 345px;
  color: white;
}
.new .newBox .new01:hover .line {
  background: white;
}
.new .newBox .new02:hover .txtBox {
  height: 345px;
  color: white;
}
.new .newBox .new02:hover .line {
  background: white;
}
.new .newBox .new03:hover .txtBox {
  height: 345px;
  color: white;
}
.new .newBox .new03:hover .line {
  background: white;
}


/************************* recipe *************************/
.recipe {
  width: 100%;
}
.recipe .recipe_bg {
  width: 100%;
  height: 470px;
  background: url(../img/recipe_bg.jpg) no-repeat center center/cover;
}
.recipe .recipe_bg h4 {
  text-align: center;
  padding: 70px 0 5px 0;
  color: #555;
}
.recipe .recipe_bg h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
.recipe .recipe_bg h3 span {
  font-weight: bold;
}
.recipe .recipeBox {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.recipe .recipeBox .recipeLeft {
  width: 530px;
  height: 230px;
  margin-right: 10px;
  float: left;
}
.recipe .recipeBox .recipeLeft .recipe01_img {
  width: 345px;
  height: 230px;
  float: left;
  position: relative;
}
.recipe .recipeBox .recipeLeft .recipe01_txt {
  width: 185px;
  height: 230px;
  float: left;
}
.recipe .recipeBox .recipeLeft .recipe01_img:hover .txtBox {
  height: 230px;
  color: white;
}
.recipe .recipeBox .recipeLeft .recipe01_img:hover .txtBox a {
  color: white;
  border: 1px solid white;
}
.recipe .recipeBox .txtBox {
  width: 345px;
  height: 0;
  color: rgba(0,0,0,0);
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s, color 0.3s 0.4s;
}
.recipe .recipeBox .txtBox p {
  text-align: center;
  margin-top: 70px;
}
.recipe .recipeBox .txtBox a {
  display: block;
  width: 100px;
  color: rgba(0,0,0,0);
  text-align: center;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 10px;
  margin: 10px auto 0 auto;
  transition: color 0.3s 0.4s, border 0.3s 0.4s;
}

.recipe .recipeBox .recipeRight {
  width: 530px;
  height: 230px;
  float: left;
}
.recipe .recipeBox .recipeRight .recipe02_img {
  width: 345px;
  height: 230px;
  float: left;
  position: relative;
}
.recipe .recipeBox .recipeRight .recipe02_txt {
  width: 185px;
  height: 230px;
  float: left;
}
.recipe .recipeBox .recipeRight .recipe02_img:hover .txtBox {
  height: 230px;
  color: white;
}
.recipe .recipeBox .recipeRight .recipe02_img:hover .txtBox a {
  color: white;
  border: 1px solid white;
}

/************************* sns *************************/
.sns {
  width: 100%;
  height: 450px;
  background: #f2f2f2;
}
.sns .yakurtImg {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}
.sns .yakurtImg img {
  width: 100%;
  height: auto;
}
.sns .snsBox {
  width: 640px;
  margin: 0 auto 40px auto;
  overflow: hidden;
}
#rad01, #rad02, #rad03, #rad04, #rad05 {display: none;}
.sns .snsBox label {
  display: block;
  width: 120px;
  height: 26px;
  font-size: 13px;
  text-align: center;
  margin-right: 10px;
  border-bottom: 1px solid black;
  float: left;
}
.sns .snsBox label:last-child {
  margin: 0;
}


.sns .snsImg {
  width: 520px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.sns .snsImg p {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-top: 20px;
}
.sns .snsImg .twitter {
  width: 160px;
  height: 400px;
  float: left;
}
.sns .snsImg .twitter .cheese {
  width: 160px;
  height: 160px;
  position: relative;
}
.sns .snsImg .twitter .cheese img:first-child {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.sns .snsImg .twitter .cheese img:last-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.sns .snsImg .youtube {
  width: 160px;
  height: 400px;
  margin: 0 20px;
  float: left;
}
.sns .snsImg .youtube .soup {
  width: 160px;
  height: 160px;
  position: relative;
}
.sns .snsImg .youtube .soup img:first-child {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.sns .snsImg .youtube .soup img:last-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.sns .snsImg .insta {
  width: 160px;
  height: 400px;
  float: left;
}
.sns .snsImg .insta .instar {
  width: 160px;
  height: 160px;
  position: relative;
}
.sns .snsImg .insta .instar img:first-child {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.sns .snsImg .insta .instar img:last-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

/************************* footerTop *************************/
footer{width: 100%;}

.footerTop {width: 100%;height: 140px;}
.footerTop .service {
  width: 1070px;
  margin: 30px auto;
  overflow: hidden;
}
.footerTop .service .left {
  width: 400px;
  float: left;
}
.footerTop .service .left .smLeft {
  width: 200px;
  font-weight: bold;
  float: left;
}
.footerTop .service .left .smLeft p:nth-of-type(1) {
  font-size: 17px;
  margin-bottom: 10px;
}
.footerTop .service .left .smLeft em {
  display: block;
  font-size: 25px;
  color: rgb(64, 174, 218);
  margin-bottom: 5px;
}
.footerTop .service .left .smLeft p:nth-of-type(2) {
  font-size: 3px;
}
.footerTop .service .left .smLeft p:nth-of-type(2) span {
  display: inline-block;
  margin-right: 13px;
  color: #555;
}
.footerTop .service .left .smLeft p:nth-of-type(3) {
  font-size: 3px;
}
.footerTop .service .left .smLeft p:nth-of-type(3) span {
  display: inline-block;
  margin-right: 3px;
  color: #555;
}

.footerTop .service .left .smRight {
  width: 200px;
  float: left;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
.footerTop .service .left .smRight p {
  font-size: 13px;
  font-weight: bold;
  margin-left: 30px;
}
.footerTop .service .left .smRight p:nth-child(1) {
  color: #555;
  margin-top: 20px;
}
.footerTop .service .left .smRight p:nth-child(3) {
  color: #555;
  margin-top: 10px;
}




.footerTop .service .middle {
  width: 320px;
  overflow: hidden;
  float: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  /* background-color: #ccc; */
}
.footerTop .service .middle p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 50px;
}
.footerTop .service .middle .qrImg {
  width: 70px;
  height: 70px;
  margin-right: 13px;
  margin-left: 50px;
  float: left;
}
.footerTop .service .middle .qrImg img {
  width: 100%;
  height: auto;
}
.footerTop .service .middle .storeImg {
  width: 100px;
  height: 70px;
  float: left;
}
.footerTop .service .middle .storeImg .googleImg {
  width: 100px;
  height: 35px;
}
.footerTop .service .middle .storeImg .googleImg img {
  width: 100%;
  height: auto;
}
.footerTop .service .middle .storeImg .appImg {
  width: 100px;
  height: 35px;
}
.footerTop .service .middle .storeImg .appImg img {
  width: 100%;
  height: auto;
}


.footerTop .service .right {
  width: 350px;
  float: left;
  /* background: #ccc; */
}
.footerTop .service .right .news {
  color: #555;
  /* background: red; */
  margin-bottom: 10px;
  margin-left: 25px;
  overflow: hidden;
}
.footerTop .service .right .news h3 {
  float: left;
  font-size: 14px;
  margin-right: 5px;
}
.footerTop .service .right .news p {
  width: 48px;
  height: 18px;
  text-align: center;
  border: 1px solid #555;
  float: left;
}
.footerTop .service .right .news p a {
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #555;
}
.footerTop .service .right ul {
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  margin-left: 25px;
}
.footerTop .service .right ul li:nth-child(2) {
  margin: 5px 0;
}


/************************* footerMiddle *************************/
.footerMiddle {width: 100%;background: #222;}
#checkSite {display: none;}
#checkSite:checked ~ .footerMiddle .siteMap {height: 200px;}

.footerMiddle .company {
  width: 1070px;
  height: 46px;
  margin: 0 auto;
  position: relative;
}
.footerMiddle .company ul {
  width: 720px;
  float: left;
}
.footerMiddle .company li {
  padding: 15px 0;
  margin-right: 25px;
  font-size: 12px;
  color: white;
  float: left;
}
.footerMiddle .company li:last-child {
  margin-right: 0;
}
.footerMiddle .company li:hover {
  color: blue;
}
.footerMiddle .right {
  width: 350px;
  color: white;
  float: right;
}
.footerMiddle .right p {
  width: 175px;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
}
.footerMiddle .right p:last-child {
  border-right: 1px solid #ccc;
  position: relative;
}
.footerMiddle .company .siteMap {
  width: 1070px;
  height: 0;
  margin: 0 auto;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #555;
  position: absolute;
  top: -200px;
  left: 0;
  transition: all 0.3s;
  overflow: hidden;
}


/************************* footerBottom *************************/
.footerBottom {width: 100%;background: #444;}
.footerBottom .yakult {
  width: 1070px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.footerBottom .yakult .hy_logo {
  width: 100px;
  height: 30px;
  margin: 40px 0 10px 0;
  font-size: 8px;
}
.footerBottom .yakult .hy_logo img {
  width: 100%;
  height: auto;
}
.footerBottom .yakult .left {
  width: 300px;
  height: 200px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  float: left;
}
.footerBottom .yakult .left ul:first-child {
  width: 80px;
  float: left;
  color: #ccc;
}
.footerBottom .yakult .left ul:last-child {
  width: 170px;
  float: left;
  color: white;
}


.footerBottom .yakult .middle {
  width: 350px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  float: left;
}
.footerBottom .yakult .middle ul:nth-child(1)  {
  width: 110px;
  float: left;
  color: #ccc;
}
.footerBottom .yakult .middle ul:nth-child(2) {
  width: 240px;
  float: left;
  color: white;
}
.footerBottom .yakult .middle ul:nth-child(2) a {
  width: 40px;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 10px;
}
.footerBottom .yakult .middle ul:nth-child(2) li:nth-child(2) {
  float: left;
  margin-right: 10px;
}
.footerBottom .yakult .middle ul:nth-child(3)  {
  width: 180px;
  float: left;
  color: #ccc;
  margin-right: 15px;
}
.footerBottom .yakult .middle ul:nth-child(4)  {
  width: 80px;
  float: left;
  color: white;
}


.footerBottom .yakult .right {
  width: 350px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  /* overflow: hidden; */
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(1) {
  color: #ccc;
  margin-bottom: 5px;
  margin-right: 10px;
  float: left;
}
.footerBottom .yakult .right .sgi_logo {
  width: 100px;
  height: 20px;
  float: left;
}
.footerBottom .yakult .right .sgi_logo img {
  width: 100%;
  height: auto;
}
.footerBottom .yakult .right p:nth-of-type(2) {
  color: #ccc;
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(3) {
  color: #ccc;
  margin-right: 10px;
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(4) {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(4) a {
  font-size: 8px;
  color: #ccc;
}


/************************* footerBottom02 *************************/
.footerBottom02 {
  width: 100%;
  height: 70px;
  background: #444;
}
.footerBottom02 .imgBox {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  color: #ccc;
  /* background: red; */
}
.footerBottom02 .imgBox .left {
  width: 200px;
  font-size: 10px;
  margin-top: 15px;
  float: left;
}
.footerBottom02 .imgBox .ncsi_logo {
  width: 180px;
  float: left;
  margin: 15px 20px;
}
.footerBottom02 .imgBox .ncsi_logo img {
  width: 40px;
  height: 25px;
  float: left;
}
.footerBottom02 .imgBox .ncsi_logo p {
  width: 135px;
  float: left;
  font-size: 10px;
  margin-left: 5px;
}
.footerBottom02 .imgBox .ccm_logo {
  width: 180px;
  margin-top: 15px;
  float: left;
}
.footerBottom02 .imgBox .ccm_logo img {
  width: 40px;
  height: 25px;
  float: left;
}
.footerBottom02 .imgBox .ccm_logo p {
  width: 135px;
  float: left;
  font-size: 10px;
  margin-left: 5px;
}
.footerBottom02 .imgBox .snsBox {
  margin-top: 15px;
  font-size: 25px;
  float: right;
}

/************************* cart *************************/
#cart {display: none;}
#cart:checked ~ .cartBanner {right: 0;}
#cart ~ .cartBanner {right: -300px;}

.cartBanner {
  overflow: hidden;
  position: fixed;
  top: 300px;
  transition: all 0.3s;
}
.cartBanner label {
  width: 59px;
  height: 75px;
  float: left;
}
.cartBanner .cartBox {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  background: #ccc;
}