* {margin: 0;padding: 0;}
ul,li {list-style: none;}
a {text-decoration: none;color: black;}
img {display: block;}

header {width: 100%;}
/************************* inner *************************/
.inner {
  width: 1070px;
  margin: 0 auto;
}
.gnb {
  overflow: hidden;
}
.gnb ul {
  float: right;
}
.gnb li {
  display: inline-block;
  padding: 8px;
  font-size: 12px;
}
.gnb li a {
  color: #555;
  font-weight: bold;
}


.logo {
  height: 80px;
}
.logo .car {
  width: 300px;
  margin-right: 150px;
  margin-top: 10px;
  float: left;
}
.logo .car .carImg {
  width: 75px;
  height: 55px;
  float: left;
  animation: bus 3s infinite reverse;
}
@keyframes bus {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0);
  }
}
.logo .car p {
  font-size: 14px;
  font-weight: bold;
}
.logo .car p:nth-of-type(1) {
  margin-top: 10px;
  color: green;
}
.logo .logoImg {
  width: 180px;
  height: 60px;
  float: left;
  margin-top: 10px;
}
.logo .search {
  width: 240px;
  height: 22px;
  float: right;
  margin-top: 25px;
  border: 1px solid #ccc;
}
.logo .search input {
  width: 205px;
  height: 15px;
  border: none;
  margin-left: 10px;
}
.logo .search input::placeholder {
  font-size: 10px;
  font-weight: bold;
  color: #ccc;
}
.logo .search i {
  font-weight: bold;
  color: #ccc;
}

/************************* headerBottom *************************/
.headerBottom {
  width: 100%;
  height: 37px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid  #ccc;
}
.lnb {
  width: 1070px;
  margin: 0 auto;
  /* overflow: hidden; */
}
.cateGori {
  float: left;
  padding: 8px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  margin-right: 95px;
}
.cateGori label {
  color: rgb(64, 174, 218);
  font-size: 14px;
  font-weight: bold;
}
.cateGori label i {
  margin-right: 7px;
}
.cateGori .cateBox {
  width: 1070px;
  height: 0;
  position: absolute;
  top: 38px;
  left: -1px;
  background: white;
  overflow: hidden;
  transition: all 0.3s;
}
#check01 {display: none;}
#check01:checked ~ .cateBox {height: 250px;}
.cateGori .cateBox {
  text-align: center;
}
.cateGori .cateBox li {
  padding: 8px 0;
  font-size: 14px;
}
.cateGori .cateBox li:hover {
  color: red;
}

.menu {
  float: left;
  font-size: 14px;
}
.menu li {
  float: left;
  padding: 8px 25px;
  font-weight: bold;
}
.life {
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
.life li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  color: #555;
  position: relative;
}
.life li::after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background: #ccc;  
  position: absolute;
  top: 9px;
  left: -2px;
}
.life li:nth-child(1)::after {
  display: none;
}


/************************* list *************************/
.list {
  width: 100%;
  
}
.list .container {
  width: 1070px;
  margin: 20px auto;
  overflow: hidden;;
  font-size: 14px;
  color: #ccc;
}
.list .container p {
  float: left;
}
.list p:nth-child(1) {
  width: 40px;
}
.list p:nth-child(1) a {
  color: #ccc;
}
.list p:nth-child(2) {
  width: 110px;
}
.list p:nth-child(3) {
  width: 100px;
} 
/************************* product *************************/
.product {width: 100%; }
.product .proBox {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.product .proBox p {
  width: 200px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  color: white;
  background: rgb(64, 174, 218);
}
.product .left {
  float: left;
  font-size: 14px;
  margin: 20px 0;
}
.product .left li {
  width: 80px;
  height: 10px;
  line-height: 10px;
  display: inline-block;
  color: #ccc;
  text-align: center;
}
.product .left li:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.product .left li:nth-child(3) {
  border-right: 1px solid #ccc;
}
.product .right {
  float: right;
  margin-top: 20px;
}
.product .right .arr {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.product .right .arr:first-child {
  width: 36px;
  height: 18px;
  border-right: 1px solid #ccc;
}
.product .right .arr:last-child {
  margin-left: 10px;
}

/************************* producutShop *************************/
.producutShop {
  width: 1070px;
  margin: 0 auto 40px auto;
  overflow: hidden;
}
.producutShop .proTop {
  height: 540px;
}
.producutShop .proMiddle {
  height: 540px;
  margin: 20px 0;
}
.producutShop .proMiddle {
  height: 540px;
}
.product .pro {
  width: 340px;
  height: 540px;
  float: left;
  margin-right: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.product .pro .proImg {
  overflow: hidden;
}
.product .pro img {
  transition: all 0.2s;
}
.product .pro img:hover {
  transform: scale(1.1);
}
.product .pro:last-child {
  margin: 0;
}
.product .txtBox {
  width: 310px;
  margin: 20px 15px 0 15px;
}
.product .txtBox .delivery {
  overflow: hidden;
  margin-bottom: 15px;
}
.product .txtBox .delivery p {
  float: left;
  padding: 3px;
  font-size: 12px;
  color: #555;
  border: 1px solid #555;
  border-radius: 3px;
}
.product .txtBox .delivery p:first-child {
  margin-right: 3px;
}
.product .txtBox .mainTxt {
  font-weight:bold;
  margin-bottom: 5px;
}
.product .txtBox .price {
  color: rgb(64, 174, 218);
  font-weight: bold;;
  font-size: 20px;
}
.product .txtBox .price del {
  color: #ccc;
  font-size: 13px;
}
.product .proTop .txtBox .price span {
  font-size: 13px;
}



/************************* number *************************/
.number {width: 100%;}
.number .pageNumber {
  width: 1070px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ccc;
}
.number .pageNumber .pageBox {
  width: 161px;
  margin: 30px auto 60px auto;
  overflow: hidden;
}
.number .pageNumber .pageBox .left {
  float: left;
}
.number .pageNumber .pageBox .left p {
  float: left;
}
.number .pageNumber .pageBox .left p:first-child {
  width: 30px;
  height: 25px;
  border: 1px solid #555;
  box-sizing: border-box;
  background: #f2f2f2;
  margin-right: 3px;
}
.number .pageNumber .pageBox .left p:last-child {
  width: 25px;
  height: 25px;
  border: 1px solid #555;
  background: #f2f2f2;
  box-sizing: border-box;
}
.number .pageNumber .pageBox .middle {
  float: left;
}
.number .pageNumber .pageBox .middle p {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 10px;
  border: 1px solid rgb(64, 174, 218);
  color: rgb(64, 174, 218);
  box-sizing: border-box;
}
.number .pageNumber .pageBox .right {
  float: left;
}
.number .pageNumber .pageBox .right p {
  float: left;
}
.number .pageNumber .pageBox .right p:first-child {
  width: 30px;
  height: 25px;
  border: 1px solid #555;
  box-sizing: border-box;
  background: #f2f2f2;
  margin-right: 3px;
}
.number .pageNumber .pageBox .right p:last-child {
  width: 25px;
  height: 25px;
  border: 1px solid #555;
  box-sizing: border-box;
  background: #f2f2f2;
}


/************************* footerMiddle *************************/
.footerMiddle {width: 100%;background: #222;}
#checkSite {display: none;}
#checkSite:checked ~ .footerMiddle .siteMap {height: 200px;}

.footerMiddle .company {
  width: 1070px;
  height: 46px;
  margin: 0 auto;
  position: relative;
}
.footerMiddle .company ul {
  width: 720px;
  float: left;
}
.footerMiddle .company li {
  padding: 15px 0;
  margin-right: 25px;
  font-size: 12px;
  color: white;
  float: left;
}
.footerMiddle .company li:last-child {
  margin-right: 0;
}
.footerMiddle .company li:hover {
  color: blue;
}
.footerMiddle .right {
  width: 350px;
  color: white;
  float: right;
}
.footerMiddle .right p {
  width: 175px;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
}
.footerMiddle .right p:last-child {
  border-right: 1px solid #ccc;
  position: relative;
}
.footerMiddle .company .siteMap {
  width: 1070px;
  height: 0;
  margin: 0 auto;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #555;
  position: absolute;
  top: -200px;
  left: 0;
  transition: all 0.3s;
  overflow: hidden;
}


/************************* footerBottom *************************/
.footerBottom {width: 100%;background: #444;}
.footerBottom .yakult {
  width: 1070px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.footerBottom .yakult .hy_logo {
  width: 100px;
  height: 30px;
  margin: 40px 0 10px 0;
  font-size: 8px;
}
.footerBottom .yakult .hy_logo img {
  width: 100%;
  height: auto;
}
.footerBottom .yakult .left {
  width: 300px;
  height: 200px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  float: left;
}
.footerBottom .yakult .left ul:first-child {
  width: 80px;
  float: left;
  color: #ccc;
}
.footerBottom .yakult .left ul:last-child {
  width: 170px;
  float: left;
  color: white;
}


.footerBottom .yakult .middle {
  width: 350px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  float: left;
}
.footerBottom .yakult .middle ul:nth-child(1)  {
  width: 110px;
  float: left;
  color: #ccc;
}
.footerBottom .yakult .middle ul:nth-child(2) {
  width: 240px;
  float: left;
  color: white;
}
.footerBottom .yakult .middle ul:nth-child(2) a {
  width: 40px;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 10px;
}
.footerBottom .yakult .middle ul:nth-child(2) li:nth-child(2) {
  float: left;
  margin-right: 10px;
}
.footerBottom .yakult .middle ul:nth-child(3)  {
  width: 180px;
  float: left;
  color: #ccc;
  margin-right: 15px;
}
.footerBottom .yakult .middle ul:nth-child(4)  {
  width: 80px;
  float: left;
  color: white;
}


.footerBottom .yakult .right {
  width: 350px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  /* overflow: hidden; */
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(1) {
  color: #ccc;
  margin-bottom: 5px;
  margin-right: 10px;
  float: left;
}
.footerBottom .yakult .right .sgi_logo {
  width: 100px;
  height: 20px;
  float: left;
}
.footerBottom .yakult .right .sgi_logo img {
  width: 100%;
  height: auto;
}
.footerBottom .yakult .right p:nth-of-type(2) {
  color: #ccc;
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(3) {
  color: #ccc;
  margin-right: 10px;
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(4) {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
}
.footerBottom .yakult .right p:nth-of-type(4) a {
  font-size: 8px;
  color: #ccc;
}


/************************* footerBottom02 *************************/
.footerBottom02 {
  width: 100%;
  height: 70px;
  background: #444;
}
.footerBottom02 .imgBox {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  color: #ccc;
  /* background: red; */
}
.footerBottom02 .imgBox .left {
  width: 200px;
  font-size: 10px;
  margin-top: 15px;
  float: left;
}
.footerBottom02 .imgBox .ncsi_logo {
  width: 180px;
  float: left;
  margin: 15px 20px;
}
.footerBottom02 .imgBox .ncsi_logo img {
  width: 40px;
  height: 25px;
  float: left;
}
.footerBottom02 .imgBox .ncsi_logo p {
  width: 135px;
  float: left;
  font-size: 10px;
  margin-left: 5px;
}
.footerBottom02 .imgBox .ccm_logo {
  width: 180px;
  margin-top: 15px;
  float: left;
}
.footerBottom02 .imgBox .ccm_logo img {
  width: 40px;
  height: 25px;
  float: left;
}
.footerBottom02 .imgBox .ccm_logo p {
  width: 135px;
  float: left;
  font-size: 10px;
  margin-left: 5px;
}
.footerBottom02 .imgBox .snsBox {
  margin-top: 15px;
  font-size: 25px;
  float: right;
}


/************************* cart *************************/
#cart {display: none;}
#cart:checked ~ .cartBanner {right: 0;}
#cart ~ .cartBanner {right: -300px;}

.cartBanner {
  overflow: hidden;
  position: fixed;
  top: 300px;
  transition: all 0.3s;
}
.cartBanner label {
  width: 59px;
  height: 75px;
  float: left;
}
.cartBanner .cartBox {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  background: #ccc;
}